<button type="button" class="btn btn-info" data-toggle="modal" 
data-target="#exampleModal" (click)="openMyTodo(0)">New Todo</button>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="todo_list">
    <tr *ngFor="let todo of todo_list">
      <th scope="row">{{ todo.title }}</th>
      <td>{{ todo.description }}</td>
      <td>{{todo.status}}</td>
      <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" (click)="openMyTodo(todo.id)">Open</button></td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="title" value={{title}}>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description">{{description}}</textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect2">Status</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <option>New</option>
            <option  [selected] ="true ">In Progress</option>
            <option>Blocked</option>
            <option>Completed</option>
          </select>
        </div>

        
          <div class="form-check">
            <div class="row">
             <div class="col">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                New
              </label>
             </div>

             <div class="col">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                In Progress
              </label>
             </div>

             <div class="col">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Blocked
              </label>
             </div>

             <div class="col">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Completed
              </label>
             </div>
               </div>
          </div>
  
       
        <div class="form-group">
          <label for="exampleFormControlInput1">Due Date</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" [(ngModel)]="dudate" value={{dudate}}>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>


<router-outlet></router-outlet>